html {
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  
}

.t {
    position: absolute;
    Top: 35%;
    justify-content: center;
    align-itens: center;
    right: 40%;
}



