

.video-principal {
    width: 700px;
    height: 450px;
    margin: 0 auto;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.507); 
    overflow: hidden;
    
}

.video-principal iframe {
    width: 100%;
    height: 100%;
    border: none;
}

main {
    font-family: "Montserrat", sans-serif;
}
header {
    padding: 5px;
    font-size: 20px;
}
main > h1 {
    font-size: 40px;
    font-weight: 800;
    padding: 10px;
    margin: 2px;
}
main > h2 , h3 {
    padding: 10px;
    font-weight: 800;
    text-align: center;
}

.video {
    width: 300px;
    height: 170px;
    margin: 0 auto;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.507); 
    overflow: hidden;
}
.zoom img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: 0.3s;
}
.zoom:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#formulario-sugestao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  /* Estilo do rótulo */
  label {
    margin-bottom: 5px;
  }
  
  /* Estilo do campo de entrada */
  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    width: 300px;
  }
  
  /* Estilo do botão de envio */
  button[type="submit"] {
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #0d6efd;
    color: white;
    border: none;
    cursor: pointer;
  }
